<a href="https://colab.research.google.com/github/hcgalvan/labodedatos/blob/main/Ejercitacion_1_Hugo_Cesar_Galvan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importar Funciones y Datos

**Primer Paso:**
Agrego los datasets de OCEAN

In [10]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [43]:
# Dataset OCEAN
filename = '/content/drive/My Drive/LaboDatos2021/ocean_safe.csv' 

# Cargamos de base solo aquellas columnas que nos interesa (útil para df grandes)
columnas_ocean = ['1_extraversion', '1_agreeableness', '1_conscientiousness', '1_neuroticism', '1_openness', '2_edad', '2_genero', 'hash']
df_ocean = pd.read_csv(filename, usecols = columnas_ocean)

In [44]:
# Mostramos en pantalla el encabezado de df_ocean
df_ocean.head()

   1_extraversion  1_agreeableness  ...  2_genero                 hash
0              27               31  ...         1  -423577603735016669
1              16               37  ...         2  -464971106993132614
2              23               33  ...         1  8850189905759099157
3              20               25  ...         2  8502285657236737218
4              22               34  ...         2  5668714742513791951

[5 rows x 8 columns]

Agrego los datasets de Coronadelicos

In [66]:
# Coronadelicos
filename = '/content/drive/My Drive/LaboDatos2021/coronadelicos_safe.csv' 
df_coronadelicos = pd.read_csv(filename)

# Unión Bases de Datos

Unirlos en un único dataframe usando la columna "hash" y descartando sujetos que no participaron de ambos experimentos.

In [67]:
# Interseccion de las bases con la columna "hash"
df_combinado = pd.merge(df_coronadelicos, df_ocean, how='inner', on='hash')

In [70]:
print(df_combinado)

      0_religiosidad  0_frecuencia_practicas_religiosas  ...  2_edad  2_genero
0                  0                                  5  ...      21         2
1                  2                                  5  ...      41         2
2                  0                                  5  ...      23         1
3                  7                                  5  ...      31         1
4                  9                                  5  ...      21         1
...              ...                                ...  ...     ...       ...
8231              15                                  5  ...      29         1
8232              50                                  3  ...      19         1
8233               0                                  5  ...      25         1
8234               0                                  5  ...      28         2
8235              33                                  5  ...      22         2

[8236 rows x 144 columns]

# Armado de 3 DataFrames

Sujetos que al menos una vez consumieron marihuana.

In [72]:
# Sujetos que reportaron haber consumido marihuana al menos una vez.
suj_consumo_marih_f1 = df_combinado[(df_combinado['7_marihuana']!=-999)]
print(f'El dataset de Sujetos que consumiron al menos una vez marihuana tiene: {suj_consumo_marih_f1.shape[0]} casos')

El dataset de Sujetos que consumiron al menos una vez marihuana tiene: 5182 casos

Sujetos que nunca consumieron marihuana.

In [87]:
# Sujetos que reportaron nunca haber consumido marihuana.
suj_sinconsumo_marih_f1 = df_combinado[(df_combinado['7_marihuana']==-999)]
print(f'El dataset de Sujetos que reportaron nunca haber consumido marihuana: {suj_sinconsumo_marih_f1.shape[0]} casos')

El dataset de Sujetos que reportaron nunca haber consumido marihuana: 3054 casos

Sujetos que reportaron haber consumido sedativos y/o antidepresivos o antipsicóticos.

In [88]:
suj_consumo_antidp = df_combinado.loc[(df_combinado['7_antidepresivos o antipsicoticos']!=-999)]
print(f'El dataset de Sujetos que reportaron haber consumido antidepresivos o antipsicoticos: {suj_consumo_antidp.shape[0]} casos')

El dataset de Sujetos que reportaron haber consumido antidepresivos o antipsicoticos: 207 casos

**Segundo Paso** 
Armar tres dataframes distintos basado en los siguientes criterios:

# Las 5 dimensiones de la personalidad.

Tercer paso: Armar nuevos dataframes que contengan columnas para las 5 dimensiones de la personalidad.