<a href="https://colab.research.google.com/github/hcgalvan/labodedatos/blob/main/Ejercitacion_1_Hugo_Cesar_Galvan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importar Funciones y Datos

**Primer Paso:**
Agrego los datasets de OCEAN

In [10]:
# import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import warnings

import matplotlib.pylab as plt # Herramienta principal de visualización https://matplotlib.org/stable/contents.html
import matplotlib.dates as mdates # Dentro de matplotlib, tenemos una herramienta para manejo de fechas 
import seaborn as sbn # Herramienta complementaria de visualización https://seaborn.pydata.org/


warnings.filterwarnings('ignore')

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [43]:
# Dataset OCEAN
filename = '/content/drive/My Drive/LaboDatos2021/ocean_safe.csv' 

# Cargamos de base solo aquellas columnas que nos interesa (útil para df grandes)
columnas_ocean = ['1_extraversion', '1_agreeableness', '1_conscientiousness', '1_neuroticism', '1_openness', '2_edad', '2_genero', 'hash']
df_ocean = pd.read_csv(filename, usecols = columnas_ocean)

In [44]:
# Mostramos en pantalla el encabezado de df_ocean
df_ocean.head()

   1_extraversion  1_agreeableness  ...  2_genero                 hash
0              27               31  ...         1  -423577603735016669
1              16               37  ...         2  -464971106993132614
2              23               33  ...         1  8850189905759099157
3              20               25  ...         2  8502285657236737218
4              22               34  ...         2  5668714742513791951

[5 rows x 8 columns]

Agrego los datasets de Coronadelicos

In [66]:
# Coronadelicos
filename = '/content/drive/My Drive/LaboDatos2021/coronadelicos_safe.csv' 
df_coronadelicos = pd.read_csv(filename)

# Unión Bases de Datos

Unirlos en un único dataframe usando la columna "hash" y descartando sujetos que no participaron de ambos experimentos.

In [67]:
# Interseccion de las bases con la columna "hash"
df_combinado = pd.merge(df_coronadelicos, df_ocean, how='inner', on='hash')

In [97]:
print(df_combinado)

      0_religiosidad  0_frecuencia_practicas_religiosas  ...  2_edad  2_genero
0                  0                                  5  ...      21         2
1                  2                                  5  ...      41         2
2                  0                                  5  ...      23         1
3                  7                                  5  ...      31         1
7                  0                                  5  ...      55         2
...              ...                                ...  ...     ...       ...
8225               0                                  5  ...      33         1
8226              34                                  5  ...      18         2
8227              18                                  5  ...      26         1
8231              15                                  5  ...      29         1
8232              50                                  3  ...      19         1

[3054 rows x 144 columns]

# Armado de 3 DataFrames

Sujetos que al menos una vez consumieron marihuana.

In [182]:
# Sujetos que reportaron haber consumido marihuana al menos una vez.
suj_consumo_marih = df_combinado[(df_combinado['7_marihuana']!=-999)]
print(f'El dataset de Sujetos que consumiron al menos una vez marihuana tiene: {suj_consumo_marih.shape[0]} casos')
print (suj_consumo_marih['1_agreeableness'])

El dataset de Sujetos que consumiron al menos una vez marihuana tiene: 0 casos
Series([], Name: 1_agreeableness, dtype: int64)

Sujetos que nunca consumieron marihuana.

In [124]:
# Sujetos que reportaron nunca haber consumido marihuana.
suj_sinconsumo_marih = df_combinado[(df_combinado['7_marihuana']==-999)]
print(f'El dataset de Sujetos que reportaron nunca haber consumido marihuana: {suj_sinconsumo_marih.shape[0]} casos')

El dataset de Sujetos que reportaron nunca haber consumido marihuana: 3054 casos

Sujetos que reportaron haber consumido sedativos y/o antidepresivos o antipsicóticos.

In [88]:
suj_consumo_antidp = df_combinado.loc[(df_combinado['7_antidepresivos o antipsicoticos']!=-999)]
print(f'El dataset de Sujetos que reportaron haber consumido antidepresivos o antipsicoticos: {suj_consumo_antidp.shape[0]} casos')

El dataset de Sujetos que reportaron haber consumido antidepresivos o antipsicoticos: 207 casos

In [112]:
print (suj_consumo_antidp['1_agreeableness'])

71      36
130     29
138     36
156     30
232     30
        ..
8037    29
8087    34
8123    41
8158    33
8219    27
Name: 1_agreeableness, Length: 207, dtype: int64

**Segundo Paso** 
Armar tres dataframes distintos basado en los siguientes criterios:

# Las 5 dimensiones de la personalidad.

Tercer paso: Armar nuevos dataframes que contengan columnas para las 5 dimensiones de la personalidad.

In [92]:
df_combinado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3054 entries, 0 to 8232
Columns: 144 entries, 0_religiosidad to 2_genero
dtypes: int64(138), object(6)
memory usage: 3.5+ MB

In [103]:
columnas = ['1_extraversion', '1_agreeableness', '1_conscientiousness', '1_neuroticism', '1_openness']
df_Dim = df_combinado[columnas].copy()
df_Dim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3054 entries, 0 to 8232
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   1_extraversion       3054 non-null   int64
 1   1_agreeableness      3054 non-null   int64
 2   1_conscientiousness  3054 non-null   int64
 3   1_neuroticism        3054 non-null   int64
 4   1_openness           3054 non-null   int64
dtypes: int64(5)
memory usage: 223.2 KB

# Armar un radar plot donde las 5 dimensiones

Armar un radar plot con datos de las dimensiones

In [181]:
columnas = ['1_extraversion', '1_agreeableness', '1_conscientiousness', '1_neuroticism', '1_openness']
dimensiones = suj_consumo_antidp[columnas]
cantidad = len ( suj_consumo_antidp )
extraversion = 0
agreeableness = 0
conscientiousness = 0
neuroticism = 0
openness = 0
subtotal = 0
for largo in range(cantidad):
  for dimensiones in range(largo):
    if dimensiones == 1:
      extraversion = extraversion + dimensiones
    if dimensiones == 2:
      agreeableness = agreeableness + dimensiones
    if dimensiones == 3:
      conscientiousness = conscientiousness + dimensiones
    if dimensiones == 4:  
      neuroticism = neuroticism + dimensiones   
    if dimensiones == 5:  
      neuroticism = openness + openness
print ( cantidad, extraversion , agreeableness, conscientiousness, neuroticism, openness )      
extraversion = extraversion /  cantidad
agreeableness = agreeableness / cantidad
conscientiousness = conscientiousness / cantidad
neuroticism = neuroticism / cantidad
openness = openness / cantidad

print ( extraversion , agreeableness, conscientiousness, neuroticism, openness )

207 205 408 609 0 0
0.9903381642512077 1.9710144927536233 2.9420289855072466 0.0 0.0

In [132]:
columnas = ['1_extraversion', '1_agreeableness', '1_conscientiousness', '1_neuroticism', '1_openness']
a = suj_sinconsumo_marih[columnas]
df_2 = suj_sinconsumo_marih.fillna(a.sum)
print(df_2[columnas])

      1_extraversion  1_agreeableness  ...  1_neuroticism  1_openness
0                 21               32  ...             29          45
1                 17               36  ...             20          44
2                 24               30  ...             25          31
3                 35               35  ...             26          33
7                 29               30  ...             27          50
...              ...              ...  ...            ...         ...
8225              14               29  ...             38          40
8226              17               25  ...             34          22
8227              24               25  ...             35          29
8231              32               32  ...             31          45
8232              29               27  ...             35          40

[3054 rows x 5 columns]

In [125]:
columnas = ['1_extraversion', '1_agreeableness', '1_conscientiousness', '1_neuroticism', '1_openness']
a = suj_sinconsumo_marih[columnas]
df_2 = suj_sinconsumo_marih.fillna(a.mean()) 
print(df_2[columnas])

      1_extraversion  1_agreeableness  ...  1_neuroticism  1_openness
0                 21               32  ...             29          45
1                 17               36  ...             20          44
2                 24               30  ...             25          31
3                 35               35  ...             26          33
7                 29               30  ...             27          50
...              ...              ...  ...            ...         ...
8225              14               29  ...             38          40
8226              17               25  ...             34          22
8227              24               25  ...             35          29
8231              32               32  ...             31          45
8232              29               27  ...             35          40

[3054 rows x 5 columns]

In [122]:
columnas = ['1_extraversion', '1_agreeableness', '1_conscientiousness', '1_neuroticism', '1_openness']
a = suj_consumo_antidp[columnas]
df_3 = suj_consumo_antidp.fillna(a.mean())
print(df_3[columnas])

      1_extraversion  1_agreeableness  ...  1_neuroticism  1_openness
71                39               36  ...             26          38
130               24               29  ...             32          44
138               27               36  ...             33          33
156               29               30  ...             24          36
232               23               30  ...             23          37
...              ...              ...  ...            ...         ...
8037              25               29  ...             20          41
8087              23               34  ...             25          40
8123              36               41  ...             26          35
8158              13               33  ...             27          40
8219              20               27  ...             24          25

[207 rows x 5 columns]

In [ ]:
a = df_Dim['1_extraversion']
b = df_Dim['1_agreeableness']
c = df_Dim['1_conscientiousness']
d = df_Dim['1_neuroticism']
e = df_Dim['1_openness']
df = df_Dim.fillna(a.mean())
df = 
suj_consumo_marih

In [ ]:
dic_dimensiones = {1 : '1_extraversion', 2 : '1_agreeableness', 3 : '1_conscientiousness', 4 : '1_neuroticism', 5 : '1_openness'} # Esto lo saco de uno de los diccionarios que indican qué significa cada número
dimensiones = suj_consumo_marih['7_marihuana'].value_counts()

fig, axs = plt.subplots(nrows = 1, ncols = 2, figsize = (18, 6))
axs[0].grid('on', linestyle = 'dashed', alpha = 0.5)
axs[0].set_title('Dimensiones de lxs Participantes')
axs[0].set_ylabel('Fracción')
axs[0].bar(x = [i for i in range(len(dimensiones))], # Definimos la ubicación de las barras a lo largo del eje horizontal
           height = dimensiones.values  / dimensiones.values.sum(), # Definimos la altura de las barras
           color = plt.get_cmap('Set2').colors
           )
axs[0].set_xticks([i for i in range(len(dimensiones))])
axs[0].set_xticklabels([dic_dimensiones[d][:10] for g in dimensiones.keys()],
                       rotation = 90
                       )
axs[0].set_yscale('log')

axs[0].tick_params(axis='both', which='major', labelsize = 12)

axs[1].pie(dimensiones.values / dimensiones.values.sum(),
           colors = plt.get_cmap('Set2').colors)
axs[1].legend([dic_dimensiones[g][:10] for g in dimensiones.keys()], loc = (-0.12,-0.15))


plt.show()

In [ ]:
dic_dimensiones = {1 : '1_extraversion', 2 : '1_agreeableness', 3 : '1_conscientiousness', 4 : '1_neuroticism', 5 : '1_openness'} # Esto lo saco de uno de los diccionarios que indican qué significa cada número
dimensiones = suj_consumo_marih['0_dimensiones'].value_counts()

genero_segun_edad = d_1.groupby([pd.qcut(d_1['0_edad'], q = 4),
                                '0_genero']).hash.count().unstack(1).rename({i : dic_generos[i][:10] for i in range(1,7)},
                                                                            axis = 1).apply(lambda x: x / x.sum(), axis = 0) # De esta forma, agrupamos por cuartiles de edad y por género

In [110]:
def radar_plot(df, title = '',):
    categories = df.columns
    N = len(categories)
    # What will be the angle of each axis in the plot? (we divide the plot / number of variable)
    angles = [n / float(N) * 2 * np.pi for n in range(N)]
    angles += angles[:1]
     
    # Initialise the spider plot
    fig, ax = plt.subplots(figsize = (6,6), subplot_kw = {'projection': 'polar'})
     
    # If you want the first axis to be on top:
    ax.set_theta_offset(np.pi / 2)
    ax.set_theta_direction(-1)
     
    # Draw one axe per variable + add labels labels yet
    ax.set_xticks(angles[:-1])
    ax.set_xticklabels(categories,
                       fontsize = 12)
     
    # Draw ylabels
    ax.set_rlabel_position(0)
    ax.set_yticks([0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1])
    ax.set_yticklabels(["0.1","0.2","0.3","0.4","0.5","0.6", "0.7", "0.8", "0.9", "1"],
                       color = "darkgrey",
                       size = 7)
    ax.set_ylim(0,1)
    
    # ------- PART 2: Add plots
    
    # Plot each individual = each line of the data
    
    for row in df.iloc:
            values = row.values.flatten().tolist()
            values += values[:1]
            ax.plot(angles, values, linewidth=1.5, linestyle = 'solid', label = row.name)
            ax.fill(angles, values, 'b', alpha=0.1)
    # Add legend
    ax.legend(loc=(-0.2,-0.3),fontsize=12)
    ax.set_title(title, position=(.5, 1.2),fontsize=15,)